@model PayPoint.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { id = "changePasswordForm", @class = "login" }))
{
    @Html.AntiForgeryToken()
    <div class="errors">
    @Html.ValidationSummary()
    </div>

   
    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword)
            
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword)
            
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)

    <br /><br />
         
   <input class="btn signin" type="submit" value="Change password" />

}