@model PayPoint.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<section id="list" class="active">
<div class="container-fluid">
    <div class="row">
        <div class="span10">
            <div class="row-fluid">
                <div class="span12">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    

                                <h2>Manage Account</h2>
                                <hr />
                                <h4>Change password</h4>

                                <hr />
                                <p class="message-success">@ViewBag.StatusMessage</p>

                                <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>


                                @if (ViewBag.HasLocalPassword)
                                {
                                    @Html.Partial("_ChangePasswordPartial")
                                }
                                else
                                { 
                                    @Html.Partial("_SetPasswordPartial")
                                }


                        
                </div>
            </div>
        </div>
    </div>
</div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
         $(document).ready(function () {
             $(".wrapper").addClass("white");
         });
    </script>
}