@model PayPoint.Models.RegisterModel

@*@using (Html.BeginForm("JsonRegister", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Registration Form</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName, new { id = "registerName" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Sign up" class="btn btn-danger" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                @Html.ValidationSummary()
            </div>
        </div>

    </fieldset>
}*@


    @using (Html.BeginForm("JsonRegister", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "registerForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="errors">
            @Html.ValidationSummary()
        </div>
        <table class="table table-bordered">
            <tr><th>UserName</th><td>

        @Html.TextBoxFor(m => m.UserName, new { id = "registerName", @placeholder = "Username" })
        </td></tr><tr><th>Password</th><td>
        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
        </td></tr><tr><th>Confirm Password</th><td>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "ConfirmPassword" })   
        </td></tr><tr><th>Roles</th><td>
            <select id="RoleName" name="RoleName">

                @foreach (string role in Roles.GetAllRoles())
                {                   
                    <option value="@role">@role</option>
                 }

            </select>
             </td></tr><tr><td colspan="2">  
        <input type="submit" value="Sign UP" class="btn signin" />
            </td></tr>
        </table>
    }
